.rootDiv {
  @apply flex justify-center items-center w-screen mt-10;
}
.roundedCardDiv {
  @apply space-y-4 h-60 w-80 bg-slate-300 shadow-lg rounded-2xl;
}
.timer {
  @apply flex justify-center text-8xl font-semibold font-sans;
}
.focusIndex {
  @apply flex justify-center text-2xl font-mono;
}
.timerButtonDiv {
  @apply flex justify-center space-x-1;
}
.btn {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700;
}

.btn__primary {
  @apply bg-sky-500 text-white font-bold py-4 px-8 rounded hover:bg-sky-400;
}

.btn__secondary {
  @apply bg-slate-500 text-white font-bold py-4 px-8 rounded hover:bg-slate-400;
}
.title {
  @apply text-2xl font-bold
}
.horizontalLine {
  @apply h-0.5 w-full bg-gray-200 mt-2 mb-2;
}

.optionDiv {
  @apply flex flex-row justify-between space-x-8;
}
.optionLabel {
  @apply block text-base font-medium text-gray-900;
}
.optionValue {
  @apply block min-w-0 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover_spin {
  transition: transform 3s linear;
}
.hover_spin:hover {
  animation: spin 3s linear infinite;
}